<h2>About Me</h2>
<p>Declan Kelly is ecstatic lately. He has complained about windows lately. He admired a fine computer lately. He was nauseated by the sun lately. He enjoyed work experience lately.</p>

<p>He is a worshiper of the penguin and is not romantically involved with anyone.</p>

<p>He is sixteen years old born on the 17th of April 1997.</p>

<p>He is tall. He has pale skin. His hair is wavy and brown.</p>

<p>He is weak and slow to heal. Declan Kelly likes computers, clear glass, wood and stainless steal, he has almost no musicality and is of above average intelligence.</p>
